@font-face {
  font-family: allura;
  src: url(../fonts//Allura-Regular.ttf);
}
@font-face {
  font-family: wizard;
  src: url(../fonts/WizardWorldSimplified-Kxr7.ttf);
}

@font-face {
  font-family: griffinize;
  src: url(../fonts/Griffinize-oxOV.ttf);
}

.title {
    font-size: 3rem;
    font-family: wizard;
  }
.main__paragraph {
    max-width: 40rem;
    font-size: 2.5rem;
  }

.footer__text {
  font-size: 3rem;
  font-family: wizard, sans-serif;
  opacity: 0;
  user-select: none;
  transform: translateY(1rem);
  transition: all 0.2s ease;
  a {
    cursor: pointer;
  }
  &:hover {
    color: goldenrod;
    font-size: 5rem;
    opacity: 1;
    transform: translateY(-1rem);
    cursor: pointer;
  }
}
